# Désactiver l'exécution du moteur PHP dans ce répertoire
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>

# Interdire complètement l'accès direct via le navigateur
# Le téléchargement devra obligatoirement passer par le contrôleur PHP
Order Deny,Allow
Deny from all
